---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header class="border-b border-stone-500 pb-3">
	<!-- <h2>
		{SITE_TITLE}
	</h2> -->
	<nav class="flex items-center justify-between">
		<div><HeaderLink href="/" class="text-2xl font-bold text-white hover:text-blue-400">{SITE_TITLE}</HeaderLink></div>
		<div>
			<HeaderLink href="/blog" class="text-white hover:text-blue-400">Blog</HeaderLink>
			<HeaderLink href="/about" class="text-white hover:text-blue-400">About</HeaderLink>
			<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank" class="text-white hover:text-blue-400">Twitter</HeaderLink>
			<HeaderLink href="https://github.com/car-r" target="_blank" class="text-white hover:text-blue-400">GitHub</HeaderLink>
		</div>
		
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
