<div class="flex flex-col relative items-center text-center mx-auto px-1 text-stone-100 py-44 bg-hero bg-cover">
    <h1 class="text-blue-700 text-4xl md:text-5xl lg:text-6xl font-semibold pb-1">
        Welcome to <span class="text-white underline underline-offset-4 md:underline-offset-8 decoration-blue-700">DevReps</span>
    </h1>
    <p class="text-xl lg:text-2xl font-semibold">
        Learn to code through repetition
    </p>
    <p class="text-sm sm:text-base md:text-lg font-thin">
        Build web development
        skills from blog posts and YouTube videos.
    </p>
    <div class="flex flex-col relative sm:flex-row w-full items-center justify-center gap-3 mt-4">
        <a href="/blog" class="text-stone-100">
            <button class="font-semibold py-3 px-4 bg-blue-700 border-2 border-blue-700 rounded-md hover:bg-blue-500 w-56">
                Blog
            </button>
        </a>
        <a href="https://www.youtube.com" class="text-stone-100">
            <button class="font-semibold py-3 px-4 border-2 border-blue-700 rounded-md w-56 hover:bg-blue-900/60">
                YouTube
            </button>
        </a>
    </div>
    <div class="custom-shape-divider-bottom-1665016781">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
</div>

<style>
    .custom-shape-divider-bottom-1665016781 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1665016781 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 153px;
}

/* .custom-shape-divider-bottom-1665016781 .shape-fill {
    fill: #FFFFFF;
} */

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1665016781 svg {
        width: calc(202% + 1.3px);
        height: 153px;
    }
}

</style>